$white: #ffffff;
$dark: #000000;
$gray: #8c8c8c;
$silver: #cacaca;

$white-second: #fefefe;
$alabaster: #fafafa;
$wild-sand: #f6f6f6;
$concrete: #f2f2f2;
$gallery: #ebebeb;
$alto: #dadada;
$mischka: #d1d1d6;
$french-gray: #c7c7cc;
$silver-second: #c2c2c2;
$silver-dark: #bdbdbd;
$silver-chalice: #a3a3a3;
$dusty-gray: #949494;
$hurricane: #918a8a;
$mojo: #cc4b37;
$gray-dove: #6b6b6b;
$alizarin-crimson: #ed3232;
$gray-dove-second: #666666;
$gray-dove-dark: #636363;
$thunderbird: #d41111;
$thunderbird-second: #d31010;
$cod-gray-dark18: #121212;
$cod-gray-dark15: #0f0f0f;
$cod-gray-dark13: #0d0d0d;
$cod-gray-dark10: #0a0a0a;
$cod-gray-dark8: #080808;
$cod-gray-dark5: #050505;
